.asset-modal {
    position: fixed;
    inset: 0;
    background: #00000090;
    display: flex;
    justify-content: center;
}

.asset-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 850px;
    height: 661px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #CCCCCC;
    border-radius: 25px;
    overflow-y: auto;

    .asset-modal-header {
        display: flex;
        height: 41px;
        width: 100%;
        align-items: center;
        font: normal normal bold 30px/41px Open Sans;
        margin-top: 40px;
        padding: 0 40px;
        gap: 20px;

        .icon {
            width: 51px;
            height: 46px;
        }

        .header-des {
            font: normal normal bold 30px/41px Open Sans;
        }

        .close-btn {
            margin-left: auto;
            background-color: #FFFFFF;
            border: none;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;

        }


    }

    .asset-form {
        display: flex;
        flex-direction: column;
        width: 90%;
        border: 1px solid #CCCCCC;
        border-radius: 10px;

        &-header {
            display: grid;
            grid-template-columns: 1fr 1fr 56px;
            border-bottom: 1px solid #cccccc;
            padding: 12px 40px;
            gap: 30px;
            font: normal normal bold 30px/41px Open Sans;
        }

        .asset-row-container {
            padding: 15px;
        }

        &-row {
            display: grid;
            grid-template-columns: 1fr 1fr 56px;
            align-items: center;
            padding: 12px 12px;
            margin: 0 25px;
            gap: 30px;
            border-radius: 8px;

            &:nth-child(even) {
                background-color: #F0F0F0;
            }
            .custom-select{
                position: relative;
                width:100%;
                height: 100%;
                &::after {
                    content: '';
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    transform: translateY(-50%) rotate(45deg);
                    width: 8px;
                    height: 8px;
                    border-bottom: 2px solid #979797;
                    border-right: 2px solid #979797;
                    pointer-events: none;
                  }
            }
            .asset-select {
                background: #FFFFFF;
                border: 1px solid #979797;
                border-radius: 5px;
                height: 100%;
                padding-left: 30px;
                appearance: none;
                width: 100%;
                cursor: pointer;
                font: normal normal normal 23px/32px Open Sans;
            }

            .asset-value-input {
                display: flex;
                align-items: center;
                height: 100%;
                border: 1px solid #CCCCCC;
                border-radius: 5px;
                &.error{
                    border-color: red;
                }

                .dollar-sign {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50px;
                    height: 100%;
                    background: #EAECEF 0% 0% no-repeat padding-box;
                    font: normal normal 600 29px/39px Open Sans;
                }



                .value-box {
                    flex: 1;
                    border: none;
                    border-radius: 5px;
                    height: 100%;
                    padding: 0 10px;
                    font: normal normal normal 23px/32px Open Sans;

                }

                .value-box:focus {
                    outline: none;
                }
            }

            .delete-btn {
                width: 56px;
                height: 56px;
                background-color: #cf4a48;
                border: 1px solid #cf4a48;
                border-radius: 60%;
                transition: background-color 0.3s ease-out;
                cursor: pointer;

                &:hover {
                    background-color: #882F2E;
                }

                .size-6 {
                    width: 25px;
                    height: 25px;
                    fill: white;
                }

                &:disabled {
                    background-color: #F2F2F2;
                    border: 1px solid #F2F2F2;
                    cursor: default;

                    .size-6 {
                        fill: #AAAAAA;
                    }
                }
            }

        }

        .add-another {
            display: flex;
            justify-content: flex-end;
            margin-left: auto;
            margin-right: 40px;
            text-align: right;
            background-color: #FFFFFF;
            border: none;
            font: normal normal bold 26px/36px Open Sans;
            color: #56B059;
            margin-bottom: 40px;
            cursor: pointer;
            gap: 20px;
            .plus-sign {
                border-radius: 50%;
                background-color: #56B059;
                color: #ffffff;
                width: 36px;
                text-align: center;
            }
            .button-text {
                color: #56B059;
            }

            &:hover {
                .plus-sign {
                    background-color:  #366c38;
                }
                .button-text{
                    color: #366c38;
                }
            }

            &:disabled {
                color: #f0f0f0;
            }
        }
    }

    .form-footer {
        display: flex;
        justify-content: space-between;
        width: 90%;

        button {
            border-radius: 46px;
            background-color: #FFFFFF;
            width: 170px;
            height: 72px;
            font: normal normal bold 26px/36px Open Sans;

        }

        .close-btn {
            border: 2px solid #000000;

            &:hover {
                background-color: #F2F2F2;
            }
        }

        .save-btn {
            border: 2px solid #56B059;
            color: #56B059;
            background-color: #FFFFFF;

            &:hover {

                background-color: #56B059;
                color: #ffffff;
            }

            &:disabled {
                background: #F2F2F2;
                border: 2px solid #AAAAAA;
                color: #AAAAAA;
            }

        }
    }

}

hr {
    border-top: 1px solid #cccccc;
    width: 100%;
}